@media only screen and (max-width: 600px){
  .feat-imgs {
    display: block;
    margin: auto;
  }
  .expo-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}